* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: Arial, cursive;
}

.ecole, .etab, .ville {
    display: block;
}

address {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: dimgrey;
    color: white;

}

a {
    color: white;
    text-decoration: none;
}

address > * {
    flex: 1;
    text-align: center;
}

h1 {
    margin-top: 50px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    background-color: darkorange;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    border-bottom: solid darkorange 2px;
}

h3, h4 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.zoneSecondaire section {
    display: block;
    margin-bottom: 50px;
}

#zonePrincipale {
    display: flex;
    justify-content: center;
}

#zonePrincipale .zoneSecondaire {
    flex: 1 300px;
    margin: 50px;
    margin-left: 5%;
    padding: 20px;

}

#skills > div {
    width: 100%;
}

@media (min-width: 1280px) {
    #skills > div {
        display: inline-block;
        width: 49.5%;
        vertical-align: top;
    }

}

dl {
    width: 100%;
}

dt {
    clear: left;
    float: left;
    width: 30%;
}

dd {
    margin-left: 30%;
    margin-bottom: 20px;
}

h4 {
    clear: left;
}

#skills dt {
    width: 70%;
}

#skills dd {
    margin-left: 70%;
}



